In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel(r'C:\Users\user\Desktop\LAST_FOLDER\Project_Data\CRSP_Project/New_CRSP_July_2025.xlsx', sheet_name=0, header=0)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Make,Model,Model \nnumber,Transmission,Drive\nConfiguration,Engine \nCapacity,Body \nType,GVW,Seating,Fuel,CRSP (KES.)
1,AIWAYS,U5,NaN,AT,FWD,63 kWh,SUV,2155,5,ELECTRIC,5910345.0
2,AIWAYS,U6,NaN,AT,FWD,63 kWh,SUV,1820,5,ELECTRIC,8232266.25
3,AUDI,3.0TFSI QUATTRO S LINE PACKAGE,WAUZZZ4M8JD01,AT,4WD,3000,SUV,NaN,NaN,GASOLINE,16210628.903571
4,AUDI,A1 SPORTBACK 1.0 TFSI,DBA-8XCHZ,AT,2WD,1000,HATCHBACK,NaN,NaN,GASOLINE,5953578.079167
...,...,...,...,...,...,...,...,...,...,...,...
5275,XPENG,G9 RWD LONG RANGE,NaN,AUT,RWD,93.1 kWh,NaN,2285 kg,5,ELECTRIC,13002759.0
5276,XPENG,G9 RWD STANDARD RANGE,NaN,AUT,RWD,75.8 kWh,NaN,2310 kg,5,ELECTRIC,12158424.0
5277,XPENG,P7 AWD PERFORMANCE,NaN,AUT,AWD,82.7 kWh,NaN,2215 kg,5,ELECTRIC,12369507.75
5278,XPENG,P7 RWD LONG RANGE,NaN,AUT,RWD,82.7 kWh,NaN,2095 kg,5,ELECTRIC,10469754.0
5279,XPENG,P7 WING EDITION,NaN,AUT,AWD,82.7 kWh,NaN,2255 kg,5,ELECTRIC,14691429.0

In [4]:
df.columns = df.iloc[0]   # Set first row as columns
df = df[1:]             # Remove the first row from the data
df = df.reset_index(drop=True)

In [5]:
df

,Make,Model,Model \nnumber,Transmission,Drive\nConfiguration,Engine \nCapacity,Body \nType,GVW,Seating,Fuel,CRSP (KES.)
0,AIWAYS,U5,NaN,AT,FWD,63 kWh,SUV,2155,5,ELECTRIC,5910345.0
1,AIWAYS,U6,NaN,AT,FWD,63 kWh,SUV,1820,5,ELECTRIC,8232266.25
2,AUDI,3.0TFSI QUATTRO S LINE PACKAGE,WAUZZZ4M8JD01,AT,4WD,3000,SUV,NaN,NaN,GASOLINE,16210628.903571
3,AUDI,A1 SPORTBACK 1.0 TFSI,DBA-8XCHZ,AT,2WD,1000,HATCHBACK,NaN,NaN,GASOLINE,5953578.079167
4,AUDI,A1 SPORTBACK 1ST EDITION,3BA-GBDAD,AT,2WD,1500,HATCHBACK,NaN,NaN,GASOLINE,8573479.222917
...,...,...,...,...,...,...,...,...,...,...,...
5274,XPENG,G9 RWD LONG RANGE,NaN,AUT,RWD,93.1 kWh,NaN,2285 kg,5,ELECTRIC,13002759.0
5275,XPENG,G9 RWD STANDARD RANGE,NaN,AUT,RWD,75.8 kWh,NaN,2310 kg,5,ELECTRIC,12158424.0
5276,XPENG,P7 AWD PERFORMANCE,NaN,AUT,AWD,82.7 kWh,NaN,2215 kg,5,ELECTRIC,12369507.75
5277,XPENG,P7 RWD LONG RANGE,NaN,AUT,RWD,82.7 kWh,NaN,2095 kg,5,ELECTRIC,10469754.0
5278,XPENG,P7 WING EDITION,NaN,AUT,AWD,82.7 kWh,NaN,2255 kg,5,ELECTRIC,14691429.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5279 entries, 0 to 5278
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 5279 non-null   object
 1   Model                5279 non-null   object
 2   Model
number        3437 non-null   object
 3   Transmission         5231 non-null   object
 4   Drive
Configuration  4754 non-null   object
 5   Engine
Capacity     5212 non-null   object
 6   Body
Type           5220 non-null   object
 7   GVW                  1708 non-null   object
 8   Seating              2943 non-null   object
 9   Fuel                 5263 non-null   object
 10  CRSP (KES.)          5277 non-null   object
dtypes: object(11)
memory usage: 453.8+ KB

### change the column names for consistency

In [7]:
df.rename(columns={'Model \nnumber':'Model_number',
                    'Drive\nConfiguration':'Drive_configuration',
                    'Engine \nCapacity':'Engine_capacity',
                    'Body \nType ':'Body_type',
                    'CRSP (KES.)':'crsp_ksh'}, inplace=True)
df.columns

Index(['Make', 'Model', 'Model_number', 'Transmission', 'Drive_configuration',
       'Engine_capacity', 'Body_type', 'GVW', 'Seating', 'Fuel', 'crsp_ksh'],
      dtype='object', name=0)

In [8]:
#Drop Columns not needed Also Have too many null values
df.drop(columns=['Model_number','GVW'], inplace=True)
df.columns

Index(['Make', 'Model', 'Transmission', 'Drive_configuration',
       'Engine_capacity', 'Body_type', 'Seating', 'Fuel', 'crsp_ksh'],
      dtype='object', name=0)

In [9]:
df['Make'].unique()

array(['AIWAYS', 'AUDI', 'BENTLEY', 'BMW', 'BRABUS', 'BYD', 'CADILLAC',
       'CHERY', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'DAIHATSU', 'DODGE',
       'DONGFENG', 'EICHER\xa0', 'FAW', 'FERRARI', 'FERRARI ', 'FIAT ',
       'FIAT\xa0', 'FORD', 'FOTON', 'GREAT WALL ', 'HAVAL', 'HINO',
       'HONDA', 'HUMMER', 'HYUNDAI ', 'ISUZU', 'IVECO DAILY', 'JAC',
       'JAGUAR', 'JEEP', 'KIA', 'LANDROVER', 'LEXUS', 'MAN',
       'MARUTI SUZUKI', 'MAZDA', 'MERCEDES', 'MERCEDES ', 'MERCEDES-BENZ',
       'MINI', 'MITSUBISHI', 'MITSUBISHI FUSO ', 'NETA', 'NIO', 'NISSAN',
       'NISSAN DIESEL/UD', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT',
       'ROLLS-ROYCE', 'SAIC MOTORS', 'SCANIA', 'SHACMAN', 'SKODA',
       'SUBARU', 'SUZUKI', 'TATA', 'TOYOTA', 'VAUXHALL', 'VOLKSWAGEN',
       'VOLVO', 'XPENG'], dtype=object)

### Data Cleaning

In [10]:

df.loc[:,'Make'] = df['Make'].str.strip().str.replace('\xa0','').str.replace('-BENZ','').str.replace('-',' ').str.capitalize()
df['Make'].unique()

array(['Aiways', 'Audi', 'Bentley', 'Bmw', 'Brabus', 'Byd', 'Cadillac',
       'Chery', 'Chevrolet', 'Chrysler', 'Citroen', 'Daihatsu', 'Dodge',
       'Dongfeng', 'Eicher', 'Faw', 'Ferrari', 'Fiat', 'Ford', 'Foton',
       'Great wall', 'Haval', 'Hino', 'Honda', 'Hummer', 'Hyundai',
       'Isuzu', 'Iveco daily', 'Jac', 'Jaguar', 'Jeep', 'Kia',
       'Landrover', 'Lexus', 'Man', 'Maruti suzuki', 'Mazda', 'Mercedes',
       'Mini', 'Mitsubishi', 'Mitsubishi fuso', 'Neta', 'Nio', 'Nissan',
       'Nissan diesel/ud', 'Opel', 'Peugeot', 'Porsche', 'Renault',
       'Rolls royce', 'Saic motors', 'Scania', 'Shacman', 'Skoda',
       'Subaru', 'Suzuki', 'Tata', 'Toyota', 'Vauxhall', 'Volkswagen',
       'Volvo', 'Xpeng'], dtype=object)

In [11]:
df[df['Transmission'].str.contains('-', regex=False, na=False)]

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh
1719,Isuzu,FRD 110-240 (XLWB),6AT-MT,2WD,5200,SINGLE CAB,NaN,DIESEL,16418659.515188
1721,Isuzu,FRD 110-260 (LWB) AW,6AT-MT,2WD,7800,SINGLE CAB,NaN,DIESEL,19051557.012562
1722,Isuzu,FRR 110-240 (LWB),6AT-MT,2WD,5200,SINGLE CAB,NaN,DIESEL,15577591.256438
1723,Isuzu,FRR 110-240 (MLWB),6AT-MT,2WD,5200,SINGLE CAB,NaN,DIESEL,15487768.432688
1724,Isuzu,FRR 110-240 (MWB),6AT-MT,2WD,5200,SINGLE CAB,NaN,DIESEL,15365282.763937
...,...,...,...,...,...,...,...,...,...
3726,Nissan,NV350 CARAVAN PREMIUM GX,5E-AT,2WD,1998,VAN,5,GASOLINE,4705284.83625
3752,Nissan,SKYLINE 350GT HYBRID TYPE SP,7M-AT,2WD,3498,SEDAN,5,GASOLINE,8631734.9976
3753,Nissan,SKYLINE 400R,7M-AT,4WD,2997,SEDAN,5,GASOLINE,10303595.706937
3754,Nissan,SKYLINE 400R,7M-AT,2WD,2997,SEDAN,5,GASOLINE,9825207.616125
3755,Nissan,SKYLINE GT TYPE SP (HYBRID),7MT-AT,2WD,3498,SEDAN,7,GASOLINE,10328571.792

In [12]:
#There was a data entry error with HEAVY DUTY TRUCKS FROM Eicher Given they are Heavy Duty the transmission is manual.
df.loc[(df['Make'] == 'Eicher') & (df['Transmission'] == '4WD'), 'Drive_configuration'] = '4WD'
df.loc[(df['Make'] == 'Eicher') & (df['Transmission'] == '4WD'), 'Transmission'] = 'Manual transmission'
df.loc[df['Transmission'] == '4WD']

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh
646,Daihatsu,HIJET TRUCK COLOR ALUMINIUM MODERATE REFRIGERA...,4WD,4AT,658,TRUCK,2,GASOLINE,3541224.6144
2879,Mazda,CX-30 20S PROACTIVE TOURING SELECTION,4WD,6AT,1997,SUV,5,GASOLINE,6340083.13125
2965,Mazda,MAXZDA X PROACTIVETOURING SELECTION,4WD,6AT,1997,SUV,5,GASOLINE,6481282.5
2973,Mazda,MAZDA2 XD SPORT+,4WD,6AT,1496,HATCHBACK,5,DIESEL,4853184.336
2996,Mazda,MAZDA3 SEDAN 20S PROACTIVE TOURING SELECTION,4WD,6AT,1756,SEDAN,5,GASOLINE,9508967.325
2999,Mazda,MAZDA3 SEDAN XD BLACK TONE EDITION,4WD,6AT,1997,SEDAN,5,DIESEL,5955835.66875
3005,Mazda,MAZDA6 SEDAN 20S,4WD,6AT,2188,SEDAN,5,GASOLINE,6138279.5625
3673,Nissan,NT100 CLIPPER,4WD,5MT,658,TRUCK,2,GASOLINE,2855112.34536
4529,Suzuki,SAMBAR TRUCK TC,4WD,CVT,658,TRUCK,2,NaN,2351594.4705

In [13]:
boolean = df['Transmission'] == '4WD'
df.loc[boolean, ['Transmission','Drive_configuration']] = df.loc[boolean, ['Drive_configuration','Transmission']].values
df[boolean]

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh
646,Daihatsu,HIJET TRUCK COLOR ALUMINIUM MODERATE REFRIGERA...,4AT,4WD,658,TRUCK,2,GASOLINE,3541224.6144
2879,Mazda,CX-30 20S PROACTIVE TOURING SELECTION,6AT,4WD,1997,SUV,5,GASOLINE,6340083.13125
2965,Mazda,MAXZDA X PROACTIVETOURING SELECTION,6AT,4WD,1997,SUV,5,GASOLINE,6481282.5
2973,Mazda,MAZDA2 XD SPORT+,6AT,4WD,1496,HATCHBACK,5,DIESEL,4853184.336
2996,Mazda,MAZDA3 SEDAN 20S PROACTIVE TOURING SELECTION,6AT,4WD,1756,SEDAN,5,GASOLINE,9508967.325
2999,Mazda,MAZDA3 SEDAN XD BLACK TONE EDITION,6AT,4WD,1997,SEDAN,5,DIESEL,5955835.66875
3005,Mazda,MAZDA6 SEDAN 20S,6AT,4WD,2188,SEDAN,5,GASOLINE,6138279.5625
3673,Nissan,NT100 CLIPPER,5MT,4WD,658,TRUCK,2,GASOLINE,2855112.34536
4529,Suzuki,SAMBAR TRUCK TC,CVT,4WD,658,TRUCK,2,NaN,2351594.4705

In [14]:
boolean = df['Transmission'] == 'AWD'
df.loc[boolean, ['Transmission','Drive_configuration']] = df.loc[boolean, ['Drive_configuration','Transmission']].values
df[boolean]

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh
2921,Mazda,CX-8 XD EXCLUSIVE MODE,6AT,AWD,2188,SUV,6,DIESEL,10147836.6
3009,Mazda,MAZDA6 WAGON XD PACKAGE,6AT,AWD,1997,SEDAN,5,DIESEL,6233604.91875

In [15]:
boolean = df['Transmission'] == '2WD'
df.loc[boolean, ['Transmission','Drive_configuration']] = df.loc[boolean, ['Drive_configuration','Transmission']].values
df[boolean]

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh
1259,Honda,CIVIC,2WD,2WD,1496,SEDAN,5,GASOLINE,4114661.5548
1261,Honda,CIVIC,2WD,2WD,1496,SEDAN,5,GASOLINE,4347725.1066
1281,Honda,FIT HYBRID F,2WD,2WD,1496,HATCHBACK,5,GASOLINE,2969464.3902
2960,Mazda,FLAIR WAGONCUSTOM STYLE HYBRID XT,CVT,2WD,658,WAGON,4,GASOLINE,3910991.04
2961,Mazda,FLAIR WAGOON HYBRID XG,CVT,2WD,658,WAGON,4(3),GASOLINE,3268586.52
2963,Mazda,FLAIRCROSSOVER HYBRID XT,CVT,2WD,658,WAGON,4,GASOLINE,3688775.64
3045,Mazda,SCRUMWAGON PZ TURBO SPECIAL,4AT,2WD,658,WAGON,4,GASOLINE,3637666.098
3471,Mitsubishi,MINICAB MIEV CD,2WD,2WD,0,VAN,4,ELECTRIC,4076097.0822
3672,Nissan,NT100 CLIPPER,5MT,2WD,658,TRUCK,2,GASOLINE,2687273.05374

In [16]:
df.loc[df['Transmission'] == '2WD', 'Transmission'] = np.nan

In [17]:
df['Transmission'] = df['Transmission'].str.strip().str.upper()
df.loc[df['Transmission'].str.contains('CVT', regex=False, na=False), 'Transmission'] = 'Continuously variable transmission'
df.loc[df['Transmission'].str.contains('/|-', na=False), 'Transmission'] = 'Multi mode'
df.loc[df['Transmission'].str.contains('AMT', regex=False, na=False), 'Transmission'] = 'Automated manual transmission'
df.loc[df['Transmission'].str.contains('MT|MAN|6M', na=False), 'Transmission'] = 'Manual transmission'
df.loc[df['Transmission'].str.contains('AGS', na=False), 'Transmission'] = 'Auto gear shift'
df.loc[:,'Transmission'] = df['Transmission'].str.capitalize()

df['Transmission'].unique()

array(['At', 'Manual transmission', 'Continuously variable transmission',
       '7at', 'Atm', '4at', 'A', 'Aut', nan, '9at', '6at', 'Multi mode',
       '5at', '8at', 'Auto', '10at', 'Automated manual transmission',
       '3at', '1at', '7 at', '1 at', '8 at', '2 at', 'Automatic',
       'Auto gear shift', '6nt'], dtype=object)

In [18]:
df.loc[~(df['Transmission'] == 'Manual transmission') & ~(df['Transmission'] == 'Continuously variable transmission') & ~(df['Transmission'] == 'Multi mode') & ~(df['Transmission'] == 'Automated manual transmission') & ~(df['Transmission'] == 'Auto gear shift'), 'Transmission'] = 'Automatic transmission'

In [19]:
df.loc[df['Drive_configuration'].isin(['4WD', '4X4', '4WDD', '4wd', '4W', '4*4',  ' (4X4)']), 'Drive_configuration'] = '4WD'
df.loc[df['Drive_configuration'].isin(['FWD', '2WD', 'RWD', '2wd']), 'Drive_configuration'] = '2WD'
df.loc[df['Drive_configuration'].isin(['AWD', 'MHEV', 'PHEV', 'AW']), 'Drive_configuration'] = 'AWD'
df.loc[df['Drive_configuration'].isin(['RWD/AWD', '8X4', '6X4', '4*2', '6X2', '8*4', '6*4', 'AWD/4WD', '4WD/AWD', '6×4', '4×2', '6×2', '8×4', '2WD/4WD', '4X2', '8X6', '2WD/AWD',
       'FWD/AWD', '\n6x4', '6x4', '4x2']), 'Drive_configuration'] = 'MULTI'

In [20]:
# No practical way of recovering all Engine capacity from given dataset
df['Engine_capacity'].unique()

array(['63 kWh', 3000, 1000, 1500, 990, 1400, 2000, 4000, 'EV', 5200,
       2500, 2900, 1800, 6000, 6800, 4400, 6600, '2000cc', '3000cc', 650,
       '1500cc', '650cc', '4400cc', 4500, '60.5 kWh', '86.4 kWh',
       '82.5 kWh', '85.4 kWh', '44.9 kWh', '91.3 kWh', '108.8 kWh',
       '87.0 kWh', '71.8 kWh', '45.1 kWh', '61.4 kWh', '3600cc', '6200cc',
       1600, 5700, 2400, 3600, 6200, 6500, 5500, 1200, 200, 2497, 2487,
       658, 996, 1496, 1797, 1196, 1300, 6400, 6100, '50.8 kWh',
       '53.6 kWh', '33.1 kWh', '28.39–70.26 kWh', '31.45–42.3 kWh',
       '59 kWh', '34.3–82.3 kWh', '50.8–61.2 kWh', 'Li-ion',
       'HEAVY DUTY TRUCK', '340 HP', 7700, 8600, 7100, 1100, 970, 2237,
       nan, 8000, 6557, 3168, '280HP', '140HP', 3857, 6842, '230HP',
       '130HP', '290HP', '420HP', '380HP', 3900, 6300, 600, 900, 500,
       2200, 2300, 3500, 5000, 2800, 5100, 5120, 8860, 8900, 9900, 2700,
       1993, 656, 1995, 0, 1317, 3471, 3492, 2356, '1,000 hp', '570 hp',
       '625 hp', '800 hp', 1700, 3800, '(53.0Kwh)', '(63Kwh)',
       '(77.4Kwh)', '(84Kwh)', '42Kwh', '49Kwh', 1900, 7800, 9800, 11600,
       1990, 3200, 1598, 3300, 1997, 1999, 2993, 2996, 4367, 4395, 4968,
       1998, 2493, 3456, 2352, 2393, 3444, 5662, 1986, '177 HP', '289 HP',
       '250 HP', '320 HP', '325 HP', 320, '479 HP', '470 HP', '441 HP',
       '510 HP', '430 HP', '519 HP', '440 HP', '480 HP', '520 HP',
       '400 HP', 2488, 2188, 1498, 1798, 657, 1756, 2997, 2498, 3283,
       1298, 2999, 830, '1600cc', 2100, 4700, 1991, 12800, 15900, 15600,
       2267, 1242, 659, 1597, 2359, 1192, 2439, 2990, '35 kWh',
       '38.5 kWh', '54.3–81.57 kWh', '85–91 kWh / 1.5L EREV',
       '228–456 hp', '75–100 kWh', '70–100 kWh', '75–150 kWh', '100 kWh',
       1198, 3498, 4478, 3696, 3799, 2998, 1433, 1497, '5200cc', '9900cc',
       '10800cc', '12770cc', 3700, 'WEV', 6700, '77 kWh', '51–64 kWh',
       '44.5 kWh', '64–90 kWh', 13000, 12700, 16400, 5346, 5345, 5742,
       5330, 10951, 5466, 5472, 10879, 10800, 1795, 1599, 2387, 1994,
       1460, 1371, 1328, 1197, 1586, 2956, 5676, 5883, 3784, 11015, 1396,
       2596, 2362, 1490, 4996, 2790, 2645, 4009, 2754, 4200, 2185, 2305,
       2085, 2295, 4104, 2992, 3994, 1618, 1996, 2693, 2270, 2982, 4608,
       1495, 998, 1787, 4600, '87.5 kWh', '66.0 kWh', '93.1 kWh',
       '75.8 kWh', '82.7 kWh'], dtype=object)

In [21]:
df.loc[:,'Engine_capacity_clean'] = df['Engine_capacity'].astype(str).str.extract(r'(\d+)').astype(float)
df['Engine_capacity_clean']

0         63.0
1         63.0
2       3000.0
3       1000.0
4       1500.0
         ...
5274      93.0
5275      75.0
5276      82.0
5277      82.0
5278      82.0
Name: Engine_capacity_clean, Length: 5279, dtype: float64

In [22]:
# Engine_capacity that is less than 400 cc is unrealistic
# the Engine capacity of cars shared in Horse power are trucks and tippers Which have a consistent tax and are not dependent on Engine_capacity
df.loc[df['Engine_capacity_clean'] < 400, 'Engine_capacity_clean'] = None

In [23]:
# Due to consistency in taxation for EVs and huge trucks we can give them the np.nan so that our column can be numeric for analysis for vehicles who tax is dependent on Engine_capacity
df.loc[(df['Engine_capacity'].str.contains('HP')) & (df['Engine_capacity_clean'] > 400)]

,Make,Model,Transmission,Drive_configuration,Engine_capacity,Body_type,Seating,Fuel,crsp_ksh,Engine_capacity_clean
924,Faw,CA4250 J6,Manual transmission,MULTI,420HP,PM,NaN,DIESEL,10482918,420.0
925,Faw,CA4322P2K15TIA82,Manual transmission,NaN,420HP,PM,NaN,DIESEL,9234951.6,420.0
2760,Man,TGS 41.480 DUMP TRUCK,Automatic transmission,MULTI,479 HP,TRUCK,NaN,DIESEL,33836977.96875,479.0
2761,Man,TGS 26.470 HOOK LIFT TRUCK,Automatic transmission,MULTI,470 HP,TRUCK,NaN,DIESEL,54107135.15625,470.0
2762,Man,TGS 28.440 DUMP TRUCK,Automatic transmission,MULTI,441 HP,TRUCK,NaN,DIESEL,48021512.34375,441.0
2763,Man,TGS 33 TIMBER TUCK,Automatic transmission,MULTI,510 HP,TRUCK,NaN,DIESEL,41844376.40625,510.0
2764,Man,TGS 35.430 HOOK LIFT TRUCK,Automatic transmission,MULTI,430 HP,TRUCK,NaN,DIESEL,35461335.9375,430.0
2765,Man,TGS 35.440 DUMP TRUCK,Automatic transmission,MULTI,441 HP,TRUCK,NaN,DIESEL,31549149.84375,441.0
2766,Man,TGS 41.400 BB CHASSIS TRUCK,Automatic transmission,MULTI,519 HP,TRUCK,NaN,DIESEL,33608195.15625,519.0
2767,Man,TGS 41.440,Automatic transmission,MULTI,440 HP,TRUCK,NaN,DIESEL,37291598.4375,440.0
2768,Man,TGS 41.440 DUMP TRUCK,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,31343245.3125,480.0
2769,Man,TGS 41.480 480HP DUMP TRUCK,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,33059116.40625,480.0
2770,Man,TGS 41.480 DUMP TRUCK,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,11210357.8125,480.0
2771,Man,TGS 41.480 DUMP TRUCK,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,32464281.09375,480.0
2772,Man,TGS 41.520 DUMP TRUCK,Automatic transmission,MULTI,520 HP,TRUCK,NaN,DIESEL,32029593.75,520.0
2774,Man,"TGS 50.480 BB 10X4, 2X VORHANDEN",Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,26081240.625,480.0
2775,Man,TGS DUMP TRUCK,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,31343245.3125,480.0
2776,Man,TGX 26.480,Automatic transmission,MULTI,480 HP,TRUCK,NaN,DIESEL,34660596.09375,480.0
2777,Man,TGX 26.510 FLATBED TUCK,Automatic transmission,MULTI,510 HP,TRUCK,NaN,DIESEL,66118232.8125,510.0
2778,Man,TGX 26.520 FLATBED TRUCK,Automatic transmission,MULTI,519 HP,TRUCK,NaN,DIESEL,72958838.90625,519.0
2779,Man,TGX XXL 480 CV,Automatic transmission,4WD,480 HP,TRUCK,NaN,DIESEL,29741765.625,480.0

In [24]:
df.loc[df['Engine_capacity'].str.contains('hp', case=False, na=False), 'Engine_capacity_clean'] = None # Some HP values are above 400 hence need to be cleaned
df.loc[df['Engine_capacity_clean'] < 400, 'Engine_capacity_clean'] = None # Cleans all the invalid values remaining that read HP and kWH

In [25]:
df.loc[:,'Engine_capacity'] = df['Engine_capacity_clean']
df.drop(columns='Engine_capacity_clean', inplace=True)
df['Engine_capacity'] = pd.to_numeric(df['Engine_capacity'], errors='coerce')

In [26]:
df['Body_type'].unique()

array(['SUV', 'HATCHBACK', 'SEDAN', 'WAGON', 'CONVERTIBLE', 'COUPE',
       'CONVRTIBLE', 'suv', 'PICKUP', 'CROSSOVER', 'D/CAB', 'S. WAGON',
       'VAN', 'TRUCK', 'MINIVAN', 3, 'TRK', 'S/CAB', 'DOUBLE  CAB',
       'TIPPER', 'MIXER', 'BUS', 'SAL', 'PM', 'STATION WAGON',
       'DOUBLE CABIN', 'SINGLE CABIN', 'PEOPLE MOVER', 'DUAL CAB',
       'CREW CAB', 'OTHER', 'S/CABIN', nan, 'SINGLE CAB', 'S/WAGON',
       'MINVAN', 'SUV-COUPE', 'ROADSTER', 'TRACTOR', 'HATCBACK',
       'PICK UP', 'TRANSIT  MIXER', 'PRIM£ MOVER', 'AMBULANCE',
       'MINI BUS', 'SALOON'], dtype=object)

In [27]:
body_type_map = {
    # SUVs
    'SUV': 'SUV',
    'suv': 'SUV',
    'SUV-COUPE': 'SUV',
    'HATCHBACK': 'HATCHBACK',
    'HATCBACK': 'HATCHBACK',
    'SEDAN': 'SEDAN',
    'SALOON': 'SEDAN',
    'SAL': 'SEDAN',
    'WAGON': 'WAGON',
    'S. WAGON': 'WAGON',
    'STATION WAGON': 'WAGON',
    'S/WAGON': 'WAGON',
    'CONVERTIBLE': 'CONVERTIBLE',
    'CONVRTIBLE': 'CONVERTIBLE',
    'COUPE': 'COUPE',
    'ROADSTER': 'CONVERTIBLE',
    'PICKUP': 'PICKUP',
    'PICK UP': 'PICKUP',
    'D/CAB': 'DOUBLE CAB',
    'S/CAB': 'SINGLE CAB',
    'DOUBLE  CAB': 'DOUBLE CAB',
    'DOUBLE CABIN': 'DOUBLE CAB',
    'SINGLE CABIN': 'SINGLE CAB',
    'SINGLE CAB': 'SINGLE CAB',
    'DUAL CAB': 'DOUBLE CAB',
    'CREW CAB': 'DOUBLE CAB',
    'S/CABIN': 'SINGLE CAB',
    'VAN': 'VAN',
    'MINIVAN': 'VAN',
    'MINVAN': 'VAN',
    'PEOPLE MOVER': 'VAN',
    'PM': 'VAN',
    'TRUCK': 'TRUCK',
    'TRK': 'TRUCK',
    'TIPPER': 'TRUCK',
    'MIXER': 'TRUCK',
    'TRANSIT  MIXER': 'TRUCK',
    'PRIM£ MOVER': 'TRUCK',
    'BUS': 'BUS',
    'MINI BUS': 'BUS',
    'AMBULANCE': 'BUS',
    'OTHER': 'OTHER',
    np.nan: np.nan
}


df['Body_type'] = df['Body_type'].astype(str).str.strip().str.upper()

df['Body_type'] = df['Body_type'].map(body_type_map)

df['Body_type'] = df['Body_type'].fillna('OTHER')

In [28]:
df['Body_type'].unique()

array(['SUV', 'HATCHBACK', 'SEDAN', 'WAGON', 'CONVERTIBLE', 'COUPE',
       'PICKUP', 'OTHER', 'DOUBLE CAB', 'VAN', 'TRUCK', 'SINGLE CAB',
       'BUS'], dtype=object)

In [29]:

fuel_map = {
    'ELECTRIC': 'ELECTRIC',
    'ELECCTRIC': 'ELECTRIC',
    'ELECTRIC(EV)': 'ELECTRIC',
    'GASOLINE': 'PETROL',
    'PETROL': 'PETROL',
    'PETROL/DIESEL': 'PETROL',
    'PETROL/ELECTRIC': 'HYBRID',
    'HYBRID': 'HYBRID',
    'PLUG-IN HYBRID': 'HYBRID',
    'PLUG-IN-HYBRID': 'HYBRID',
    
    'DIESEL': 'DIESEL',
    'DEISEL': 'DIESEL',
    'DIESE L': 'DIESEL',
    'DI ESEL': 'DIESEL',
    'CNG': 'CNG',
    'LNG': 'LNG',
    np.nan: np.nan
}

df['Fuel'] = df['Fuel'].astype(str).str.strip().str.upper()
df['Fuel'] = df['Fuel'].map(fuel_map)

valid_fuels = ['ELECTRIC','PETROL','HYBRID','DIESEL','CNG','LNG']
df['Fuel'] = df['Fuel'].where(df['Fuel'].isin(valid_fuels), np.nan)

In [30]:
nulls = df.loc[df['crsp_ksh'].isna()] #rows with nan on crsp are not important as tax cannot be calculated on them
df.drop(nulls.index, axis=0, inplace=True)

In [31]:
df['crsp_ksh'] = df['crsp_ksh'].astype(float)

In [32]:
from datetime import datetime

def calculate_import_tax(df: pd.DataFrame, make: str, model: str, year_manufacture: int):
    """
    Calculates the estimated total import tax payable for a vehicle in Kenya
    based on the cleaned CRSP DataFrame and user-provided details.
    """
    current_year = datetime.now().year 

    # Filter for exact make and model (case-insensitive)
    vehicle = df[
        (df['Make'].str.lower() == make.lower()) &
        (df['Model'].str.lower() == model.lower())
    ]

    if vehicle.empty:
        return "Vehicle not found in the CRSP list. Please check the make and model spelling."

    if vehicle.shape[0] > 1:
        return (f"Multiple entries found for {make} {model}. "
                "Consider refining the search or checking the dataset for variants.")

    row = vehicle.iloc[0]
    crsp = row['crsp_ksh']
    engine_cc = row['Engine_capacity']  # float or NaN for EVs/trucks
    fuel = row.get('Fuel', None)  # e.g., 'ELECTRIC', 'PETROL', 'DIESEL', 'HYBRID'

    # Calculate vehicle age
    age = current_year - year_manufacture
    if age < 0:
        return "Year of manufacture cannot be in the future."
    if age > 8:
        return "Vehicles older than 8 years cannot be imported into Kenya."

    # Depreciation percentage based on age (as per your provided rules)
    if age < 1:
        depreciation_pct = 0
    elif age <= 2:
        depreciation_pct = 20
    elif age <= 3:
        depreciation_pct = 30
    elif age <= 4:
        depreciation_pct = 40
    elif age <= 5:
        depreciation_pct = 50
    elif age <= 6:
        depreciation_pct = 55
    elif age <= 7:
        depreciation_pct = 60
    elif age <= 8:
        depreciation_pct = 65
    else:
        depreciation_pct = 65  # capped

    # True value = CRSP after depreciation
    true_value = crsp * (1 - depreciation_pct / 100)

    # Import Duty: 35% of true value
    import_duty = 0.35 * true_value

    # Excise Duty base = true_value + import_duty
    excise_base = true_value + import_duty

    # Determine excise duty rate
    if fuel == 'ELECTRIC':
        excise_rate = 0.10  # 10% for 100% electric vehicles
    elif pd.isna(engine_cc):
        # For heavy trucks or cases with no engine_cc, assume higher rate or default
        excise_rate = 0.35  # conservative; adjust if known
    elif fuel == 'DIESEL':
        if engine_cc > 2500:
            excise_rate = 0.35
        elif engine_cc > 1500:
            excise_rate = 0.25
        else:
            excise_rate = 0.20
    else:  # Petrol or Hybrid
        if engine_cc > 3000:
            excise_rate = 0.35
        elif engine_cc > 1500:
            excise_rate = 0.25
        else:
            excise_rate = 0.20

    excise_duty = excise_rate * excise_base

    # VAT base = true_value + import_duty + excise_duty
    vat_base = true_value + import_duty + excise_duty
    vat = 0.16 * vat_base

    # Railway Development Levy (RDL): 2% of true value (no compounding)
    rdl = 0.02 * true_value

    # Import Declaration Fee (IDF): 3.5% of true value (no compounding)
    idf = 0.035 * true_value

    # Total tax
    total_tax = import_duty + excise_duty + vat + rdl + idf

    # Breakdown for transparency
    breakdown = {
        "CRSP (KES)": round(crsp, 2),
        "Age (years)": age,
        "Depreciation (%)": depreciation_pct,
        "True Value (KES)": round(true_value, 2),
        "Import Duty (35%)": round(import_duty, 2),
        "Excise Duty": round(excise_duty, 2),
        "VAT (16%)": round(vat, 2),
        "Railway Development Levy (2%)": round(rdl, 2),
        "Import Declaration Fee (3.5%)": round(idf, 2),
        "Total Estimated Tax Payable (KES)": round(total_tax, 2)
    }

    return breakdown

In [33]:
# Lets see if our function works 
result = calculate_import_tax(df, 'Peugeot', '3008 GT LINE', 2020)

if isinstance(result, str):
    print(result)
else:
    print("Import Tax Breakdown\n" + "="*40)
    for key, value in result.items():
        print(f"{key}: {value}")

Import Tax Breakdown
========================================
CRSP (KES): 3246679.16
Age (years): 5
Depreciation (%): 50
True Value (KES): 1623339.58
Import Duty (35%): 568168.85
Excise Duty: 547877.11
VAT (16%): 438301.69
Railway Development Levy (2%): 32466.79
Import Declaration Fee (3.5%): 56816.89
Total Estimated Tax Payable (KES): 1643631.32

In [34]:
df.to_csv('New_CRSP_July_2025_Clean.csv')